{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block title %}
パスワード変更完了
{% endblock title %}
{% block header %}
    {% include 'headermenu_dashboard.html' %}
{% endblock header %}
{% block content %}
<div class="passwordchange-done">
  <h2>パスワード変更完了</h2>
  <div class="btn-area">
    <button class="return-btn" type="button" onclick="location.href='{% url 'accounts:profile' %}'">戻る</button>
  </div>
  </div>
{% endblock content %}
