{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block title %}
パスワード変更
{% endblock title %}
{% block header %}
    {% include 'headermenu_dashboard.html' %}
{% endblock header %}
{% block content %}
<div class="passwordchange">
    <h2>パスワード変更</h2>
    <form action="" method="POST">
        {{ form.non_field_errors }}
        <table class="passwordchange-table">
            <tr>
                <th><label for="old_password">元のパスワード</label></th>
                <td><input type="password" id="old_password" class="form-control" name="old_password" placeholder="OLD_PASSWORD" requirede></td>
            </tr>
            <tr>
                <th><label for="new_password1">新しいパスワード</label></th>
                <td><input type="password" id="new_password1" class="form-control" name="new_password1" placeholder="NEW_PASSWORD" requirede></td>
            </tr>
            <tr>
                <th><label for="new_password2">元のパスワード</label></th>
                <td><input type="password" id="new_password2" class="form-control" name="new_password2" placeholder="NEW_PASSWORD" requirede></td>
            </tr>
        </table>
        {% csrf_token %}
        <div class="btn-area">
            <button class="change-btn" type="submit">変更</button>
            <button class="return-btn" type="button" onClick="history.back();">戻る</button>
        </div>
    </form>
</div>
{% endblock content %}


