<!doctype html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block customcss %}
    {% endblock customcss %}
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <header>
      {% block header %}
      {% endblock header %}
    </header>
    <div class="container">
      {% block sidemenu %}
      {% endblock sidemenu %}
      <main class="container-item">
        <article>
          {% block content %}
          {% endblock content %}
        </article>
      </main>
    </div>
  </body>
</html>